<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <description>Wiring the dependencies for the Facility Management System Application.</description>

    <context:component-scan base-package="com.tsolomonphillips"/>

    <bean id="tenant" class="com.tsolomonphillips.model.facility.Tenant" scope="prototype"/>
    <bean id="administrator" class="com.tsolomonphillips.model.administrator.Administrator" scope="prototype"/>
    <bean id="maintenance" class="com.tsolomonphillips.model.maintenance.Maintenance" scope="prototype"/>

    <bean id ="facility" class="com.tsolomonphillips.model.facility.Facility" scope="prototype">
        <property name="subFacilities">
            <list>
                <ref bean="facility"/>
            </list>
        </property>
        <property name="facilityTenants">
            <list>
                <ref bean="tenant"/>
            </list>
        </property>
        <property name="administrator" ref="administrator"/>
        <property name="maintenance" ref="maintenance"/>
        <property name="name" value=""/>
        <property name="baseCapacity" value="0"/>
        <property name="baseRate" value="0"/>
        <property name="facilityType" value="BUILDING"/>
    </bean>



</beans>