<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <description>Wiring the dependencies for the Facility Management System Application.</description>

    <context:component-scan base-package="com.tsolomonphillips"/>

    <bean id ="facility" class="com.tsolomonphillips.model.facility.Facility" scope="prototype">
        <property name="subFacilities">
            <list/>
            <!--<ref bean="facility"/>-->
            <!--</list>-->
        </property>
        <property name="facilityTenants">
            <list/>
            <!--<ref bean="tenant"/>-->
            <!--</list>-->
        </property>
        <property name="allTenants">
            <list/>
            <!--<ref bean="tenant"/>-->
            <!--</list>-->
        </property>
        <property name="administrator" ref="administrator"/>
        <property name="maintenance" ref="maintenance"/>
    </bean>

    <bean id="tenant" class="com.tsolomonphillips.model.facility.Tenant" scope="prototype"/>

    <bean id="administrator" class="com.tsolomonphillips.model.administrator.Administrator" scope="prototype">
        <property name="inspectionList">
            <list/>
            <!--<ref bean="inspection"/>-->
            <!--</list>-->
        </property>
    </bean>

    <bean id="date" class="java.util.Date"/>

    <bean id="schedule" class="com.tsolomonphillips.model.maintenance.Schedule" scope="prototype">
        <property name="maintenanceOrders">
            <list/>
                <!--<ref bean="maintenanceOrder"/>-->
            <!--</list>-->
        </property>
        <property name="scheduledDates">
            <list/>
                <!--<bean class="java.util.Date" />-->
            <!--</list>-->
        </property>
        <property name="map">
            <map/>
            <!--not sure what else I need to do here-->
        </property>
    </bean>

    <bean id="maintenanceOrder" class="com.tsolomonphillips.model.maintenance.MaintenanceOrder" scope="prototype"/>

    <bean id="maintenanceLog" class="com.tsolomonphillips.model.maintenance.MaintenanceLog" scope="prototype">
        <property name="completedMaintenance">
            <list/>
            <!--<ref bean="maintenanceRequest"/>-->
            <!--</list>-->
        </property>
        <property name="pendingMaintenance">
            <list/>
            <!--<ref bean="maintenanceRequest"/>-->
            <!--</list>-->
        </property>
    </bean>

    <bean id="maintenanceRequest" class="com.tsolomonphillips.model.maintenance.MaintenanceRequest" scope="prototype">
        <property name="completed" value="false"/>
        <property name="dateCreated" >
            <bean class="java.util.Date" />
        </property>
    </bean>

    <bean id="maintenance" class="com.tsolomonphillips.model.maintenance.Maintenance" scope="prototype">
        <property name="schedule" ref="schedule"/>
        <property name="log" ref="maintenanceLog"/>
    </bean>



    <bean id="inspection" class="com.tsolomonphillips.model.administrator.Inspection" scope="prototype">
        <property name="date" >
            <bean class="java.util.Date" />
        </property>
        <property name="ID" value=""/>
    </bean>


</beans>